# (st.overrideAttrs (prev: rec {
#   buildInputs = prev.buildInputs ++ [harfbuzz];
#   desktopItem = makeDesktopItem {
#     name = "Simple Terminal";
#     desktopName = "sst";
#     genericName = "Terminal";
#     startupWMClass = "st-256color";
#     exec = "st -f \"JetBrainsMono Nerd Font:style=Regular:size=12\"";
#     icon = ../../assets/terminal.svg;
#   };
#   patches = [
#     (fetchpatch {
#       url = "https://st.suckless.org/patches/bold-is-not-bright/st-bold-is-not-bright-20190127-3be4cf1.diff";
#       sha256 = "sha256-IhrTgZ8K3tcf5HqSlHm3GTacVJLOhO7QPho6SCGXTHw=";
#     })
#     (fetchpatch {
#       url = "https://st.suckless.org/patches/fullscreen/st-fullscreen-0.8.5.diff";
#       sha256 = "sha256-52lO6K9TGrrdPljXAFo+JB39XHeNF+0ru5QzDJ+9GX8=";
#     })
#     (fetchpatch {
#       url = "https://st.suckless.org/patches/gruvbox/st-gruvbox-dark-0.8.5.diff";
#       sha256 = "sha256-dOkrjXGxFgIRy4n9g2RQjd8EBAvpW4tNmkOVj4TaFGg=";
#     })
#     (fetchpatch {
#       url = "https://st.suckless.org/patches/hidecursor/st-hidecursor-0.8.3.diff";
#       sha256 = "sha256-Bj/n02xUl9iYXYr/3SlIEforFwFxAx8MrPFnimyU7vg=";
#     })
#     (fetchpatch {
#       url = "https://st.suckless.org/patches/ligatures/0.9/st-ligatures-20230105-0.9.diff";
#       sha256 = "sha256-F2LvUT2bPFfkw82vFS16wwGoB+TEIquTG2UnKAZfzh0=";
#     })
#     (fetchpatch {
#       url = "https://st.suckless.org/patches/blinking_cursor/st-blinking_cursor-20230819-3a6d6d7.diff";
#       sha256 = "sha256-f79RFl4JFKNF4cAl8WsfNC2Zx5nd8lQ8TuSxl2rBxfY=";
#     })
#   ];
#   fixupPhase = ''
#     cp -r ${desktopItem}/share/applications $out/share
#   '';
# }))