/* https://github.com/vinceliuice/WhiteSur-gtk-theme */
.tiled headerbar,
.tiled headerbar:backdrop,
.maximized headerbar,
.maximized headerbar:backdrop {
  border-radius: 0 0 0 0;
  box-shadow: none;
}

.maximized headerbar {
  background-color: #373737;
  border-color: #0e0e0e;
  box-shadow: none;
}

.maximized headerbar:backdrop {
  background-color: #373737;
  border-color: #060606;
}

.maximized headerbar.flat,
.maximized headerbar.flat:backdrop {
  border: none;
  background: none;
}

headerbar.default-decoration {
  min-height: 32px;
  padding: 0;
  background-color: #373737;
  border: none;
  box-shadow: none;
}

headerbar.default-decoration>windowhandle>box {
  padding: 0 3px;
}

.tiled headerbar.default-decoration,
.maximized headerbar.default-decoration,
.fullscreen headerbar.default-decoration {
  box-shadow: none;
}

headerbar.default-decoration windowcontrols button,
headerbar.default-decoration windowcontrols menubutton {
  min-width: 16px;
  min-height: 16px;
  margin: 0;
  padding: 0;
}

headerbar.default-decoration windowcontrols menubutton button {
  min-height: 20px;
  min-width: 20px;
  margin: 0;
  padding: 4px;
}

.titlebar>box.left.horizontal,
.titlebar>box.right.horizontal {
  padding: 0 6px;
}

window>.titlebar:not(headerbar),
window>.titlebar:not(headerbar):backdrop,
window.csd>.titlebar:not(headerbar),
window.csd>.titlebar:not(headerbar):backdrop {
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
}

.titlebar:not(headerbar)>separator {
  min-width: 1px;
}

*:drop(active):focus,
*:drop(active) {
  box-shadow: inset 0 0 0 1px #E9873A;
}

window {
  border: none;
}

window.csd {
  transition: none;
  border-radius: 12px;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  outline-offset: -1px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35), 0 7px 12px rgba(0, 0, 0, 0.35), 0 12px 20px rgba(0, 0, 0, 0.35), 0 0 0 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.75);
  margin: 0;
}

window.csd:backdrop {
  transition: box-shadow 150ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 7px 12px rgba(0, 0, 0, 0.15), 0 12px 20px transparent, 0 0 0 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.75);
}

window.csd.tiled,
window.csd.tiled-top,
window.csd.tiled-left,
window.csd.tiled-right,
window.csd.tiled-bottom {
  border-radius: 0;
  outline: none;
}

window.csd.maximized,
window.csd.fullscreen {
  border-radius: 0;
  outline: none;
  box-shadow: none;
  transition: none;
}

window.solid-csd {
  border: 1px solid #0e0e0e;
  border-radius: 0;
  margin: 0;
  background-color: #373737;
  box-shadow: none;
}

windowcontrols {
  border-spacing: 6px;
  padding: 0 10px;
}

windowcontrols:not(.empty).start:dir(ltr),
windowcontrols:not(.empty).end:dir(rtl) {
  margin-right: 8px;
}

windowcontrols:not(.empty).start:dir(rtl),
windowcontrols:not(.empty).end:dir(ltr) {
  margin-left: 8px;
}

headerbar.titlebar windowcontrols {
  border-spacing: 6px;
}

windowcontrols button>image {
  padding: 0;
  margin: 0;
  background-color: transparent;
  background-image: none;
}

windowcontrols button.close,
windowcontrols button.maximize,
windowcontrols button.minimize {
  min-width: 16px;
  min-height: 16px;
  margin: 8px 0;
  padding: 4px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

windowcontrols button.close,
windowcontrols button.close:hover,
windowcontrols button.close:focus,
windowcontrols button.close:active,
windowcontrols button.close:backdrop,
windowcontrols button.maximize,
windowcontrols button.maximize:hover,
windowcontrols button.maximize:focus,
windowcontrols button.maximize:active,
windowcontrols button.maximize:backdrop,
windowcontrols button.minimize,
windowcontrols button.minimize:hover,
windowcontrols button.minimize:focus,
windowcontrols button.minimize:active,
windowcontrols button.minimize:backdrop {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: transparent;
}

windowcontrols button.close:backdrop,
windowcontrols button.maximize:backdrop,
windowcontrols button.minimize:backdrop {
  opacity: 1;
}

windowcontrols button.close {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-close-dark.png"), url("windows-assets/titlebutton-close-dark@2.png"));
}

windowcontrols button.close:backdrop {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-close-backdrop-dark.png"), url("windows-assets/titlebutton-close-backdrop-dark@2.png"));
}

windowcontrols button.close:backdrop:hover {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-close-backdrop-hover-dark.png"), url("windows-assets/titlebutton-close-backdrop-hover-dark@2.png"));
}

windowcontrols button.close:hover {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-close-hover-dark.png"), url("windows-assets/titlebutton-close-hover-dark@2.png"));
}

windowcontrols button.close:active {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-close-active-dark.png"), url("windows-assets/titlebutton-close-active-dark@2.png"));
}

windowcontrols button.maximize {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-maximize-dark.png"), url("windows-assets/titlebutton-maximize-dark@2.png"));
}

windowcontrols button.maximize:backdrop {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-maximize-backdrop-dark.png"), url("windows-assets/titlebutton-maximize-backdrop-dark@2.png"));
}

windowcontrols button.maximize:backdrop:hover {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-maximize-backdrop-hover-dark.png"), url("windows-assets/titlebutton-maximize-backdrop-hover-dark@2.png"));
}

windowcontrols button.maximize:hover {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-maximize-hover-dark.png"), url("windows-assets/titlebutton-maximize-hover-dark@2.png"));
}

windowcontrols button.maximize:active {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-maximize-active-dark.png"), url("windows-assets/titlebutton-maximize-active-dark@2.png"));
}

windowcontrols button.minimize {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-minimize-dark.png"), url("windows-assets/titlebutton-minimize-dark@2.png"));
}

windowcontrols button.minimize:backdrop {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-minimize-backdrop-dark.png"), url("windows-assets/titlebutton-minimize-backdrop-dark@2.png"));
}

windowcontrols button.minimize:backdrop:hover {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-minimize-backdrop-hover-dark.png"), url("windows-assets/titlebutton-minimize-backdrop-hover-dark@2.png"));
}

windowcontrols button.minimize:hover {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-minimize-hover-dark.png"), url("windows-assets/titlebutton-minimize-hover-dark@2.png"));
}

windowcontrols button.minimize:active {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-minimize-active-dark.png"), url("windows-assets/titlebutton-minimize-active-dark@2.png"));
}

.fullscreen windowcontrols button.maximize,
.maximized windowcontrols button.maximize {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-restore-dark.png"), url("windows-assets/titlebutton-restore-dark@2.png"));
}

.fullscreen windowcontrols button.maximize:backdrop,
.maximized windowcontrols button.maximize:backdrop {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-restore-backdrop-dark.png"), url("windows-assets/titlebutton-restore-backdrop-dark@2.png"));
}

.fullscreen windowcontrols button.maximize:backdrop:hover,
.maximized windowcontrols button.maximize:backdrop:hover {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-restore-backdrop-hover-dark.png"), url("windows-assets/titlebutton-restore-backdrop-hover-dark@2.png"));
}

.fullscreen windowcontrols button.maximize:hover,
.maximized windowcontrols button.maximize:hover {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-restore-hover-dark.png"), url("windows-assets/titlebutton-restore-hover-dark@2.png"));
}

.fullscreen windowcontrols button.maximize:active,
.maximized windowcontrols button.maximize:active {
  background-image: -gtk-scaled(url("windows-assets/titlebutton-restore-active-dark.png"), url("windows-assets/titlebutton-restore-active-dark@2.png"));
}